
$main-color: #313133;
$sec-color: #999;
$third-color: #ddd;
$four-colot: #eee;
$link-color: #555;
$link-color-hover: #999;
$bg-color: #fff;

$main-padding: 20px;
$sec-padding: 10px;
$img-padding: 10px;

$nav-height: 60px;

::selection {
	background-color: $main-color;
	color: #fff;
}

 @font-face {
 	font-family: 'thaisans';
 	src: url(../fonts/ThaiSansNeue-Regular.otf);
 }

 @font-face {
 	font-family: 'boon';
 	src: url(../fonts/Boon-300.woff);
 	font-weight: 300;
 }

 @font-face {
 	font-family: 'boon';
 	src: url(../fonts/Boon-400.woff);
 	font-weight: 400;
 }

a {
	text-decoration: none;
}

a:hover {
	color: #337ab7;
}

body {
	background-color: #BFBCB8;
	font-size: 19px;
	font-family: 'boon', sans-serif;
	padding-top: $nav-height;
}

nav, h2, h3, footer {
 	font-family: 'thaisans';
 }

 h2 {
 	font-size: 35px;
 }

//Nav

nav {

	& > div {
		//box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	}

	.navbar-toggle {
		padding: 4px 10px;
		margin-top: 13px;
		margin-bottom: 13px;
	}

	.container {
		background-color: #fff;
	}
}

nav, .navbar-brand {
	height: $nav-height;
}

.navbar-default {
	background-color: transparent;
	border: 0;
}

.navbar-default {

	.navbar-nav > li > a {
		color: $link-color;
		&:hover {
			color: $link-color-hover;
		}
	}

	.navbar-brand {
		color: $link-color;
		font-size: 30px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

.nav > li > a {
	font-size: 26px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.dropdown-menu {
	& > li > a {
		font-size: 20px;
	}
}

//End Nav



//Header

$header-height: calc(100vh - 60px - 135px);

.head-img {
	width: 100%;
}

.header {
	width: 100%;
	//height: $header-height;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #fff;
}

.header-img-1 {
	@extend .header;
	background-image: url(../image/header1.jpg);
}

.header-img-2 {
	@extend .header;
	background-image: url(../image/photo1.jpg);
}

.header-img-3 {
	@extend .header;
	background-image: url(../image/photo3.jpg);
}

//--Slide
.carousel {
	//height: $header-height;
}

.carousel-caption {
	z-index: 10;
}

.carousel .item {
	//height: $header-height;
}
.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	//min-height: $header-height;
}

//End Header



//Content

.container {
	padding-left: $main-padding;
	padding-right: $main-padding;
	background-color: #f9f9f9;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

	.jumbotron {
		background-color: transparent;
		text-align: center;
		margin: 0;
		padding-left: 0;
		padding-right: 0;

		.-title {
			margin-bottom: 20px;
		}
	}
}

//--Last Schedule
$schedule-height: 250px;
.lastSchedule {
	padding: $sec-padding;
	background-color: #fff;

	.-image {
		padding: 0;
		overflow: hidden;

		img {
			min-width: 100%;
			//height: $schedule-height;
		}
	}

	.-content {
	
		p {
			margin: 0;
			padding-bottom: 7px;
		}

		.p-last {
			padding-top: 8px;
			padding-bottom: 0;
			text-align: center;
		}
	}
}

.lastSchedule.-list {
	a {
		color: #333;
	}

	.-content {
		padding: 10px 0;
	}
}

.lastSchedule.-about {
	.-content {
		padding: 0 10px;
		padding-top: 10px;
	}
}

//--Budha Statue
.buddha-statue {

	.-item {
		//cursor: pointer;
		margin-bottom: 25px;
	}

	.-shadow {
		padding: $img-padding;
		@extend ._shadow-no-pad;
	}

	.-item:hover .-image img {
		//opacity: 0.8;
	}

	.-image {
		img {
			width: 100%;
		}
	}

	.-title {
		color: #fff;
		font-size: 17px;
		background-color: #7F7E7A;
		padding: 20px;
	}
}

//--Temple
.about-temple {
	.-important {
		p {
			margin-bottom: 0px;
			line-height: 35px;
		}
	}
}

//--Abbot
$space-padding: 30px;
.box-abbot {
	margin-bottom: 50px;

	._vcenter {
		margin: 0 auto;
	}

	.-image {
		position: static;
		margin: 0 auto;
		width: 50%;
		max-width: 170px;
	}

	.-content {
		height: 170px;
		text-align: center;

		div p {
			margin: 15px 0;
		}
	}

	img {
		width: 100%;
	}
}

.minimap {
	//border: 5px solid #555;
	background-color: #FFF;
	padding: $sec-padding;

	.-image {
		width: 100%;
	}
}

//--Gallery
.box-galery {
	//margin-bottom: -30px;
	//border: 3px solid #222;
	//max-width: 830px;
	//margin-left: auto;
	//margin-right: auto;

	.-list {
		//width: 20%;
		box-sizing: border-box;
		padding: 10px;
		//float: left;
	}
	
	.fancybox-buttons {

		img {
			background-color: #FFF;
			display: block;
			width: 100%;
			padding: $img-padding;
		}
	}

}

//--Schedule
$schedule-height: 230px;
.box-schedule {
	//height: $schedule-height;
	cursor: pointer;
	margin: 0 0 30px 0;
	
	& > div {
		//padding: $sec-padding;
	}

	.-image {
		height: ($schedule-height - 30px);
		overflow: hidden;
	}

	.-content {
		//height: ($schedule-height - 40px);
		//overflow: hidden;
		padding: 0;

		.box-title {
			font-size: 18px;
			line-height: 27px;
			//padding: $main-padding 0;
			//padding: 0 10px 10px 25px;
		}

		.-title {
			//margin-top: 10px;
			//margin-left: 10px;
			font-size: 22px;
			font-weight: bold;
			padding: $sec-padding 5px;
		}

		.-date {
			color: #888;
			//padding-top: 10px;
			padding: $sec-padding 5px;
		}

		.-text {
			padding: 5px;
		}
	}
}

#schd-popup-page {
	display: none;
	background-color: rgba(2, 2, 2, 0.7);
	width: 100%;
	height: 100%;
	position: fixed;
	//padding-top: 100px;
	padding: 50px 0;
	top: 0;
	left: 0;
	z-index: 9999;
	overflow-y: scroll;

	.btn-close-poppage {
		color: $main-color;
		background-color: transparent;
		font-size: 20px;
		padding: 10px;
		border: 0;
		outline: 0;
	}

	.container {
		width: 90%;
		max-width: 960px;
	}

	.-content {
		//margin: 25px;
		padding: 20px;
		padding-top: 0;
		padding-bottom: 20px;

		h2 {
			padding-top: 0;
		}

		.img-head img {
			width: 100%;
		}
	}
}

//--Contact
.box-contact {
	h3 {
		margin-top: 0;
	}

	.-content {
		//line-height: 27px;
		padding: $sec-padding;
		padding-bottom: 0;

		p {
			font-size: 18px;
		}
	}

	.-image {
		width: 100%;
	}
}

.google-map {
	height: 370px;
	padding: $sec-padding;
}

//End Content



//Footer

.footer {
	width: 100%;
	color: #fafafa;
	font-family: 'boon';

	div {
		background-color: $main-color;
	}

	.text-muted {
		font-size: 21px;
		color: #ccc;
		margin: 20px 0;
	}

	.row {
		padding-top: $main-padding;
	}

	.row > div {
		padding: 0 $main-padding;
		font-size: 17px;
		line-height: 1.6em;
		margin-bottom: $main-padding;
	}
}

//End Footer



//Screen

@media screen and (max-width: 767px){
	.lastSchedule .-content {
		width: 100%;
	}
}

//Tablet
@media screen and (min-width: 768px){

	.dropdown:hover .dropdown-menu {
		display: block;
	}

	.container {
		padding-left: 30px;
		padding-right: 30px;
	}

	.lastSchedule .-content {
		//height: $schedule-height;
		//padding-left: 50px;
		//padding-right: 50px;
	}

	.lastSchedule.-list {
		.-content {
			padding: 10px 10px 3px 40px;
		}
	}

	.lastSchedule.-about {
		.-content {
			padding: 10px 10px 10px 25px;
		}
	}

	.box-abbot {
		.-image {
			position: absolute;
			right: 0;
			margin-right: $space-padding;
		}

		.-content {
			text-align: left;
			padding-left: $space-padding;
			
		}
	}

	//Schedule
	$schedule-height: 230px;
	.box-schedule {
		.-content {
			.box-title {
				padding: 0 10px 10px 25px;
			}
		}
	}

	//Footer
	.footer {
		.row {
			padding-top: 30px;
		}

		.row > div {
			margin-bottom: 30px;
		}
	}

	//Properties
	._height-full-tablet {
		height: 100vh;
	}

	._padding-top-6-tablet {
		padding-top: 60px;
	}

	._padding-top-0-tablet {
		padding-top: 0;
	}

	._margin-top-0-tablet {
		margin-top: 0;
	}

}

//End Screen



//Properties

.text-content {
	font-size: 19px;
}

.descript {
	font-size: 19px;
}

._tab {
	padding-left: 50px;
}

._bg-main {
	background-color: $main-color;
}

._bg-sec {
	background-color: $sec-color;
}

._bg-third {
	background-color: $third-color;
}

._bg-four {
	background-color: $four-colot;
}

._bg-white {
	background-color: #fff;
}

.line {
	border-color: rgba(0, 0, 0, 0.1);
}

//Margin
._margin-0 {
	margin: 0;
}

._margin-v-2 {
	margin-top: 20px;
	margin-bottom: 20px;
}

//#Padding

//Vertical
._pad-v-top-7 {
	padding-top: 70px;
}

._pad-bottom-3 {
	padding-bottom: 30px;
}

._pad-bottom-10 {
	padding-bottom: 100px;
}

._pad-v-0 {
	padding-top: 0;
	padding-bottom: 0;
}

._vpadding-2 {
	padding-top: 20px;
	padding-bottom: 20px;
}

._vpadding-3 {
	padding-top: 30px;
	padding-bottom: 10px;
}

._vpadding-4 {
	padding-top: 40px;
	padding-bottom: 20px;
}

._vpadding-5-2 {
	padding-top: 50px;
	padding-bottom: 20px;
}

._vpadding-6 {
	padding-top: 60px;
	padding-bottom: 30px;
}

._padding-top-down {
	padding-top: 60px;
	padding-bottom: 60px;
}

//Horizontal
._pad-h-0 {
	padding-left: 0;
	padding-right: 0;
}

._padding-side {
	padding-left: 15px;
	padding-right: 15px;
}

//Center
._vcenter {
	display: table;

	div {
		display: table-cell;
		vertical-align: middle;
	}
}

._hcenter {
	margin-left: auto;
	margin-right: auto;
}

._fade, ._fade-scroll {
	opacity: 0;
	-moz-transition: opacity 2s ease;
	-webkit-transition: opacity 2s ease;
 	-o-transition: opacity 2s ease;
  	transition: opacity 2s ease;
}

._fade.-in, ._fade-scroll.-in {
	opacity: 1;
}

._shadow {
	//padding-top: 15px;
	//padding-bottom: 15px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

._shadow-all-pad {
	padding: 15px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

._shadow-no-pad {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}